﻿@model DreamerShopConnection.SanPham

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)


<fieldset>
    <legend>Xoa SanPham</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaSP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaSP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TenSP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenSP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MoTa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MoTa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.XuatXu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.XuatXu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaNSX)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaNSX)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GiaSP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GiaSP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SoLuongBan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoLuongBan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaLoaiSP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaLoaiSP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SoLuongXem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoLuongXem)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HinhAnh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HinhAnh)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}