﻿@model _1461270_web.Models.ViewModels.SanPhamViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Html.ActionLink(Model.NhaSX.TenNhaSX, "tim", new { nsx = Model.NhaSX.MaNhaSX })
<h2>@Model.SanPham.TenSP</h2>
<img src="@Model.SanPham.HinhAnh" />
<h2>@Model.SanPham.GiaSP</h2>
<h2>@Model.SanPham.MoTa</h2>