﻿@model _1461270_web.Models.ViewModels.SanPhamViewModel
@{
    ViewBag.Title = "Details";
}
@Html.ActionLink(Model.NhaSX.TenNhaSX, "tim", new { nsx = Model.NhaSX.MaNhaSX})
<h2>@Model.SanPham.TenSP</h2>
<img src="@Model.SanPham.HinhAnh"/>
<h2>@Model.SanPham.GiaSP</h2>
<h2>@Model.SanPham.MoTa</h2>

<div class="col-md-12">
       @Html.Action("Index", "BinhLuan", new { MaSP = Model.SanPham.MaSP});             
</div>