﻿@model DreamerShopConnection.SanPham

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
            <legend>Sửa sản phẩm</legend>
    
            @*<div class="editor-label">
                Mã sản phẩm
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.MaSP)
                @Html.ValidationMessageFor(model => model.MaSP)
            </div>*@
    
            <div class="editor-label">
                Tên sản phẩm
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.TenSP)
                @Html.ValidationMessageFor(model => model.TenSP)
            </div>
    
            <div class="editor-label">
                Mô tả
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.MoTa)
                @Html.ValidationMessageFor(model => model.MoTa)
            </div>
    
            <div class="editor-label">
                Xuất xứ
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.XuatXu)
                @Html.ValidationMessageFor(model => model.XuatXu)
            </div>
    
            <div class="editor-label">
                Mã nhà SX
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.MaNSX)
                @Html.ValidationMessageFor(model => model.MaNSX)
            </div>
    
            <div class="editor-label">
                Gía sản phẩm
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.GiaSP)
                @Html.ValidationMessageFor(model => model.GiaSP)
            </div>
    
            <div class="editor-label">
                Số lượng bán
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.SoLuongBan)
                @Html.ValidationMessageFor(model => model.SoLuongBan)
            </div>
    
            <div class="editor-label">
                Mả loại sản phẩm
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.MaLoaiSP)
                @Html.ValidationMessageFor(model => model.MaLoaiSP)
            </div>
    
           @* <div class="editor-label">
                Số lượng xem
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.SoLuongXem)
                @Html.ValidationMessageFor(model => model.SoLuongXem)
            </div>*@
    
            <div class="editor-label">
                Hình ảnh
            </div>
            <div class="editor-field">
                <input name ="imagefile" type ="file"/>
                @Html.ValidationMessageFor(model => model.HinhAnh)
            </div>
    
            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
