﻿@model IEnumerable<DreamerShopConnection.BinhLuan>
@{
    ViewBag.Title = "Index";
}
            <h2>Bình Luận</h2>
                     @using (Html.BeginForm("Create", "BinhLuan", FormMethod.Post))
                     {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("MaSP", (int)ViewBag.MaSP)
                        @Html.TextArea("NoiDung")
                         <input type="submit" value="Đăng"/>
                     }
                    <div id="comments">
                        @foreach (var item in Model)
                        {
                            <div class="comments">
                            <div class="comment-name">Quoc Dung</div>
                            <div class="comment-content">@item.NoiDung</div>
                        </div>
                        }
                    </div>