﻿@model IEnumerable<DreamerShopConnection.SanPham>
@{
    ViewBag.Title = "Index";
}

<h2>Sản Phẩm</h2>
@foreach (var item in Model)
{
     <div class="col-md-4 text-center col-sm-6 col-xs-6">
          <div class="thumbnail product-box">
               <img src="@item.HinhAnh" alt="">
                       <div class="caption">
                           <h3>@Html.ActionLink(item.TenSP, "Details", new { id = item.MaSP})</h3>
                           <p>Price : <strong>@item.GiaSP</strong>  </p>
                           <p><a href="#">Ptional dismiss button </a></p>
                           <p>Ptional dismiss button in tional dismiss button in   </p>
                           <p><a href="#" class="btn btn-success" role="button">Add To Cart</a> <a href="#" class="btn btn-primary" role="button">See Details</a></p>
                       </div>
          </div>
      </div>
}